################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/keys.json
ProyectoBot-9994f4e369be.json
.env